body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 40px;
}

.card img {
  width: 74px;
}

.navbar.navbar-expand-sm.navbar-light {
  padding: 0;
}

.card-footer a:hover {
  text-decoration: none;
}

.card.lightgreen.border-success {
  background-color: palegreen;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.card.white.border-success {
  background-color: white;
  padding: 0.5rem;
  margin: 0.5rem 0;
}
